html,body{
  background-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  text-align: center;

  .title{
    font-size: 3vw;
    color: #4db3dc;
    padding: 1vw;
  }
}

.post-container{
 @extend .container;
   height: 100vh;
 
}

.name{
 font-size: 30px;
 color: green;
}

.padding{
  padding: .5vw;
}

.username{
  color: gray;
  font-style: italic;
}

.back{
  position: absolute;
  font-size: 2vw;
  color: red;
  font-weight: 600;
  left: 18vw;
  top: 3vh;
  cursor: pointer;

  &:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.1);
    text-decoration: underline;
  }
}

@media (max-width: '918px'){
  .title{
    display: none;
  }
  .back{
    font-size: 3vw;
  }
      }

@media (max-width: '700px'){
        .post-container{
          width: 700px;
        }
        .back{
          font-size: 5vw;
          left: 3vw;
        }
        .padding{
          padding: 1vw;
        }
      }

@media (max-width: '500px'){
  .post-container{
    width: 500px;
  }
 
}
